.navbarBox {
    width: 100%;
    background-color: #ffffff;
    height: 10vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.navbarContainer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    gap: 75px;
}

.navbarLinks
{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 50px;
}

body
{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.logo
{
    width: 150px;
}

.btn
{
    width: 100px;
}

.navbarLinks > li
{
    font-size:20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.heroContainer
{
    background-color: #bbe9f7;
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.boldText
{
    font-size: 50px;
    margin-bottom: 0;
    padding-bottom: 0;
   
}

.heroLine
{
    font-size: 25px;
}
.hero_svg
{
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    padding: 20px;
}

.blue-blur
{
    width: 400px;
    height: 400px;
    background-color: #7ea7fa;
    filter: blur(64px);
    position: absolute;
    z-index: -10000;
}

.FindJobBtn
{
    background-color: black;
    color: white;
    width:200px;
    height: 3rem;
    border-radius: 25px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.findContainer
{
    display: flex;
    justify-content: center;
}

.searchContainer2 
{
    box-shadow: 6px 6px 4px #333333;
    width: 800px;
    background-color: #ffffff;
    height: 150px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 20px;
}

.searchContainer 
{
    display: flex;
    width: 100%;
    justify-content: center;
    transform: translateY(-100px);
}

.searchJob {
    background-color: #ffffff;
    border-radius: 25px;
    height: 50px;
    padding: 10px;
    border: 1px solid grey;
    display: flex;
    align-items: center;
}

.searchJob input {
    background-color: transparent;
    border: 0px;
    flex: 1;
}

.searchJob input:focus {
    outline: none;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    padding: 5px;
    margin-top: 50px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* .searchJob input[type="text"] {
    border: none;
    outline: none; 
} */

.searchLocation
{
    width: 150px;
    background-color: #ffffff;
    border-radius: 25px;
    height: 50px;
    padding: 10px;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.searchType
{
    width: 150px;
    background-color: #ffffff;
    border-radius: 25px;
    height: 50px;
    padding: 10px;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.searchJobs
{
   background-color: #2062E2; 
   color: white;
   height: 50px;
   width: 150px;
   font-size: 20px;
   border-radius: 25px;
   border: 0px;
}


.searchJobs
{
   background-color: #2062E2; 
   color: white;
   height: 50px;
   width: 150px;
   font-size: 20px;
   border-radius: 25px;
   border: 0px;
}

.animate
{
    animation: searchButtonAnimation 1s forwards;
}

@keyframes searchButtonAnimation {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

.loading
{
    width: 75px;
}

.unloading
{
    display: none;
}

.hidden
{
    display: none;
}

.cards
{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
    margin-right: auto;
    margin-left: auto;
    gap: 15px;
}

.card1
{
    border: 1px solid black;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    min-height: 250px;
}

.card1 > button
{
    background-color: blue;
    border: 0px;
    color: white;
    padding: 15px;
    border-radius:25px;
}



.card2
{
    border: 1px solid black;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    min-height: 250px;
    background-color: #2062E2;
    color: white;
}

.card2 > button
{
    background-color: white;
    border: 0px;
    color: blue;
    padding: 15px;
    border-radius:25px;
}

.bg-color
{
    background-color: rgba(106, 102, 102, 0.108);
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 0;
}



@media screen and (max-width:900px) {
    .navbarLinks
    {
        display: none;
    }
    .cards
    {
        flex-direction: column;
    }
    .searchContainer2
    {
        width: 50%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: max-content;
    }

    .boldText
    {
        font-size: 30px;
    }

    .heroContainer
    {
        height: 60vh;
    }

    .hero_svg
    {
        width: 200px;
    }

    .hero-head
    {
        padding: 75px;
    }
}
